<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a style="color: white; font-size: 25px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="navbar-brand" href="#">Exhibidoreschile</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="/ex">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="#">Shop</a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a style="color: white;" class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="topnav">
            <form id="searchForm" action="{% url 'search' %}" method="GET" onsubmit="return validateSearch()">
                <input type="text" id="searchInput" name="query" placeholder="Search..">
                <button style="background-color: chartreuse;" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>
